{% extends 'base.html.twig' %}

{% block title %}conditions générales d'utilisation{% endblock %}

{% block body %}
    <div>
        <h2>Conditions générales d'utilisation</h2>
    </div>
{% endblock %}
