{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div>
        <section>
            <h2>Mon profil</h2>
        </section>

        <section>
            <div>
                 <h2>Mes annonces</h2>
            </div>

            <div>
                <h2>Mes annonces suivies</h2>
            </div>
        </section>


    </div>
{% endblock %}