/*-------------------- STYLE GENERAL --------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: var(--font-lato);
}

:root {
    /* couleurs */
    --pink-smoothy: #AC8989;
    --white: #FFFFFF;
    --grey: #EEEEEE; 
    --grey-darker: #555555;
    --black: #000000;
    --form-background-color-black:#333;
    --yellow: #FFFF00;
    --yellow-smooth: #F2A65A;
    --red: #FF0000;
    --red-purple: #8B2635;
    --green: #00FF00;
    --blue: #0000FF;
    --blue-light: #324C89;
    --white-darker: #f3f3f8;

    /* font-family */
    --font-lato: Lato, sans-serif;

    /* taille de police */
    --size-small-title: 20px;
    --size-medium-title: 25px;
    --size-large-title: 30px;
    --size-extra-large-title: 40px;

    /* margin */
    --margin-small: 5px;
    --margin-medium: 10px;
    --margin-large: 20px;

    /* padding */
    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 20px;

    /* border */
    --border-input-form: 1px solid #ccc;
    --border-input-form-focus: 1px solid #007bff;

    /* border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 10px;

    /* transition color */
    --transition-color: background-color 0.3s ease-in-out;
    --transition-color-background-color: color 0.3s ease, background-color 0.3s ease;

    /* box shadow */
    --shadow-form: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --shadow-bloc: 0 0 10px rgba(0,0,0,0.2);

}

body {
    background-color: var(--white-darker);
}

.title {
    text-align: center;
    margin: var(--margin-large);
}


/*-------------------------- IMG -------------------------*/

#logo { 
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 90%;
    background-color: var(--white);
    margin: 10px 30px;
    flex: none;
}


/*-------------------------- MAP -------------------------*/

#map { 
    height: 400px; 
}

/*================================= HEADER TEMPLATE =================================*/

header {
    background-color: var(--blue-light);
    /* rallongement du bas pour mieux intégrer la barre de navigation  */
    padding-bottom: 40px;
}

/*------- MENU CONNEXION -------*/

.MenuLog {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.MenuLog a {
    color: var(--white);
    font-family: var(--font-lato);
    padding: 20px;
    text-decoration: none;
}

/*------- IDENTITE SITE -------*/

.slogan {
    display: flex;
    align-items: center;
}

/*------- TITRE SITE -------*/

.title-site {
    color: var(--white);
    font-size: var(--size-extra-large-title);
    text-transform: uppercase;
    text-align: center;
    /* bloc faisant que le contenant */
    display: inline-block;
    margin: 0 auto;
}

/*------- BARRE DE NAVIGATION -------*/

nav .headerList {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navLink {
    color: var(--white);
    font-family: var(--font-lato);
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transform-origin: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navLink:hover::after {
    width: 80%;
    transform: translateX(-50%);
    opacity: 1;
}

/*==================================== TEMPLATE REGISTER/LOGIN ====================================*/

/* conteneur du formulaire + titre */
.blocLogin {
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: var(--white);
    padding: 40px;
    max-width: 750px;
    margin: 40px auto;
}

/* label du formulaire */
.labelLogin {
    margin-bottom: 5px;
    font-size: 18px;
}

/* titre du formulaire */
.blocLogin h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 25px;
    margin: var(--margin-medium) auto;
}

.formLine {
    display: flex;
    justify-content: center;
}

.formLine > div {
    margin: 0 10px;
}

.formColumn {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

/* ciblage des mots de passe */
.formColumn > div {
    display: flex;
    flex-direction: column;
}

/* input du formulaire */
.inputLogin, .passwordLogin {
    width: 50%;
    height: 40px;
    font-size: 1em;
    border: none;
    box-shadow: var(--shadow-form);
    border-radius: var(--border-radius-medium);
    margin: 10px 0;
}

.passBlocLogin {
    display: flex;
}

/* bouton du formulaire */
.btnLogin {
    border-radius: var(--border-radius-small);
    font-size: var(--size-small-title);
    box-shadow: var(--shadow-form);
    transition: var(--transition-color-background-color);
    background-color: var(--white);
    text-align: center;
    border: none;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px 20px;
}

.btnLogin:hover {
    background-color: var(--pink-smoothy);
    color: var(--white);
}

.linkLogin {
    transition: var(--transition-color-background-color);
    text-decoration: none;
}

.linkLogin:visited {
    color: #007bff;
}

.linkLogin:hover {
    cursor: pointer;
    color: #469dfa;
}

/*==================================== TEMPLATE ACCUEIL ====================================*/

.home-title {
    text-align: center;
    margin: var(--padding-large);
}

.textIntro {
    text-align: center;
}

.draft {
    display: flex;
    flex-wrap: wrap;
}

.annonceCardLink {
    text-decoration: none;
    color: var(--black);
}

.annonceCardLink h2 {
    text-align: center;
    margin: 10px auto;
}

.annonceCard {
    border-radius: var(--border-radius-medium);
    background-color: var(--white);
    box-shadow: var(--shadow-bloc);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    width: 30%;
    margin: 10px;
    padding:10px;
}

.annonceCard:hover {
    transform: scale(1.02);  
}

.iconCard {
    text-align: center;
    color: var(--white);
}

.titleCard {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.iconCard {
    border: var(--border-input-form);
    border-radius: var(--border-radius-medium);
    padding: 5px 10px;
}

.imgCard {
    border-radius: var(--border-radius-medium);
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.descriptionCard {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

/* section suppression */
.divDelete {
    text-align: center;
    margin: 20px;
}

.btnDelete {
    border-radius: var(--border-radius-small);
    font-size: var(--size-small-title);
    box-shadow: var(--shadow-form);
    transition: var(--transition-color-background-color);
    background-color: var(--white);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px 20px;
    color: var(--black);
}

.btnDelete:hover {
    background-color: var(--pink-smoothy);
    color: var(--white);
}

/*==================================== TEMPLATE ANNONCE ====================================*/

.formAnnonce {
    border-radius: var(--border-radius-medium);
    background-color: var(--white);
    box-shadow: var(--shadow-bloc);
    margin: 20px;
    padding: 20px;
}

.h2Form {
    font-size: var(--size-large-title);
    padding: var(--padding-medium);
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.introAnnonce {
    text-align: center;
}

.h3Form {
    font-size: var(--size-medium-title);
    padding: var(--padding-medium);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 30px auto;
}

.h4Form {
    font-size: var(--size-small-title);
    padding: var(--padding-medium);
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.alignAnnonce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formDesc {
    display: flex;  
}

.formBloc {
    width: 50%;
}

.textFormBloc {
    margin: 5px 40px;
    align-items: center;
}

input:focus {
    border: var(--border-input-form-focus);  
}

/* Styles pour le champ de texte */
textarea {
    border-radius: var(--border-radius-small);
    border: var(--border-input-form);
    min-height: 120px;
    width: 100%;
    text-align: left;
    resize: vertical; /* Permet de redimensionner le champ verticalement */
}
  

/* section bouton validation */
.submitAnnonce {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submitAnnonce > button {
    border-radius: var(--border-radius-small);
    font-size: var(--size-small-title);
    box-shadow: var(--shadow-form);
    transition: var(--transition-color-background-color);
    background-color: var(--white);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px 20px;
    color: var(--black);
}

.submitAnnonce > button:hover {
    background-color: var(--pink-smoothy);
    color: var(--white);
}


/*========================================== TEMPLATE RECHERCHE ==========================================*/

/* conteneur du formulaire */
.filterBloc {
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: var(--white);
    padding: 20px 0;
}

.filterTitle {
    text-align: center;
    padding: 20px;
}

.filterList {
    display: flex;
    justify-content: space-around;
}

/* disposition bouton */
.filterBtn {
    text-align: center;
}

/* ajout décoration bouton */
.filterBtn > button {
    border-radius: var(--border-radius-small);
    font-size: var(--size-small-title);
    box-shadow: var(--shadow-form);
    transition: var(--transition-color-background-color);
    background-color: var(--white);
    border: none;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 20px;
}

.filterBtn > button:hover {
    background-color: var(--pink-smoothy);
    color: var(--white);
}

.filterResultTitle {
    margin: 40px 10px;
}

/*========================================== TEMPLATE PROFIL ==========================================*/

.profil-bloc-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profil-section {
    border-radius: var(--border-radius-medium);
    background-color: var(--white);
    box-shadow: var(--shadow-bloc);
    padding: var(--padding-small);
    margin: 20px;
    /* largeur du bloc maximum */
    width: 100%;
    max-width: 600px;
}

.profil-text-bloc{
    padding: var(--padding-small);
}

.profil-section h2 {
    padding: 10px 0;
    text-align: center;
}

.profil-section a {
    text-decoration: none;
    color: black;
}

.edit {
    color: var(--yellow-smooth);
    text-shadow: 0 0 3px #000;
    font-size: 20px;
}

.trash {
    color: var(--red-purple);
    text-shadow: 0 0 3px #000;
    font-size: 20px;
}

.male {
    color: blue;
}

.femelle {
    color: pink;
}

.profil-option {
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* options de modifications profil */
.optionProfil {
    border: var(--border-input-form);
    border-radius: var(--border-radius-medium);
    background-color: var(--white);
    transition: var(--transition-color-background-color);
    box-shadow: var(--shadow-bloc);
    padding: 5px;
}

.optionProfil:hover {
    background-color: var(--pink-smoothy);
    color: var(--white);
}

/* liens annonces */
.icon-left {
    display: flex;
    justify-content:space-between;
    padding: 5px 10px;
}

.icon-left a:hover {
    color: var(--grey-darker);
}
/*========================================== TEMPLATE DESCRIPTIF ==========================================*/

/* conteneur annonce */
.descriptif-annonce {
    background-color: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 1200px;
    padding: 2px;
    margin: 20px auto;
}

/* statut de l'annonce */
.statut-descriptif {
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: end;
    margin: 5px;
    font-size: 30px;
}

.statut-descriptif p {
    border-radius: var(--border-radius-small);
    border: grey 1px solid;
    padding: 10px 20px;
}

.red-statut {
    background-color: var(--red-purple);
}

.green-statut {
    background-color: green;
}

.header-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: var(--border-radius-medium);
    margin: 5px;
}

.header-description>* {
    margin: 10px;
}

.img-container-descriptif img {
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.descriptif-annonce h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.animal-descriptif {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* tableau d'informations */
.table-descriptif {
    margin: 20px auto;
    align-items: center;
    text-align: center;
    border-spacing: 0 10px;
    width: 100%;
}

.table-descriptif tbody {
    color: var(--grey-darker);
}

.table-descriptif td, .table-descriptif th {
    text-align: center;
    padding: 10px;
}

/* .table-descriptif td:not(:last-child), .table-descriptif th:not(:last-child) {
    border-right: 1px solid black;
} */

.proprietaireDescription {
    display: flex;
    justify-content: space-around;
}

.proprietaireDescription >div {
    width: 40%;
}

.proprietaireDescriptif {
    text-align: justify;

}

/*-------- SECTION DESCRIPTION --------*/

.textDescription {
    padding: 20px;
}

.textDescription h3 { 
    padding: var(--padding-small);
    font-size: 25px;
}

.textDescription p {
    padding: var(--padding-small);
}

/*-------- SECTION COMMENTAIRE --------*/

.anchorPanel {
    text-decoration: none;
}

.tableCommentaire {
    border-collapse: collapse;
}

.tableCommentaire tr, .tableCommentaire td {
    border: 1px solid var(--grey);
}

.tableCommentaire td {
    padding: 20px;
}

.tableCommentaire td h3 {
    padding: 10px 0;
}

.textCommentaire {
    width: 100%;
    vertical-align: top;
}

/*========================================== FOOTER ==========================================*/

footer {
    background-color: #363F48;
    padding: 20px 0;
    margin-top: 20px;
    font-family: var(--font-lato);
    bottom: 0; 
    left: 0; 
    right: 0; 
}

.footerBloc {
    display: flex;
    justify-content: space-around;
}

.footerBloc ul {
    padding: 0;
}

.footerLink {
    color: #7F7F7F;
    text-transform: none;
    font-size: 14px;
    text-decoration: none;
    padding: var(--padding-small);

}

.footerLegal {
    display: flex;
    flex-direction: column;
}

.footerTitle {
    color: var(--grey);
    margin: var(--margin-small);
}

.footerLink:hover {
    color: var(--grey);
}

/*-========================================= JAVASCRIPT =========================================-*/

#scrollToTop {
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1;
    border: none;
    outline: none;
    background-color:#3D3D3D;
    color: var(--white);
    cursor: pointer;
    border-radius: 50%; /* Rounded corners */
    font-size: 20px;
    width: 50px;
    height: 50px;
}