@media screen and (max-width: 600px) {
    
    #logo {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 90%;
        background-color: var(--white);
        margin: 10px 30px;
        flex: none;
        position: absolute;
    }

    /* menu de connexion */

    .MenuLog {
        justify-content: flex-start;
    }

    .MenuLog > li > a {
        font-size: 10px;
    }

    .MenuLog > li > a::after {
        bottom: 8px;
        height: 1px;
    }

    .anchorLink::after {
        bottom: 3px;
    }

    nav {
        padding: 5px;
    }

    /* Menu burger */

    .menuButtonContainer {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 5px;
        margin: 10px;
        height:30px;
        width: 20px;
    }

    .menu {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menuToggle ~ .menu li {
        display: none;
    }
    #menuToggle:checked ~ .menu li {
        display: flex;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--blue-light);
    }

    .menu > li > .anchorLink::after {
        bottom: -10px;
        padding: 0;
    }


    /* image annonce */

    .imgCard {
        max-width: 150px;
    }

    /*==================================== TEMPLATE PROFIL ====================================*/

    /* .optionProfil {
        justify-content: center;
    } */

    /*==================================== TEMPLATE LOGIN ====================================*/

    .inputLogin {
        width: 100%;
    }

    .passwordLogin {
        width: 100%;
    }

    /*==================================== TEMPLATE ANNONCE ====================================*/

    .uploadBloc {
        margin:30px;
    }

    .h4Form {
        text-align: center;
    }

    .alignAnnonce {
        justify-content: center;
    }

    /*==================================== TEMPLATE ANNONCE ====================================*/

    .filterList {
        flex-direction: column;
    }

    /*==================================== TEMPLATE PROFIL ====================================*/

    .profil-option {
        justify-content: center;
    }

    .optionProfil {
        margin: 10px;
    }

    .profil-text-bloc {
        text-align: center;
    }

    .profil-text-bloc > p {
        margin: 5px;
    }

}